@model ELearning.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<p>Percentage Complete: @ViewData["PercentageComplete"]%</p>
<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
    <hr />
    <a asp-controller="Lesson" asp-action="Create" asp-route-courseId="@Model.Id">Add New Lesson</a>
    <h1>@Model.Title</h1>
    <h2>Lessons:</h2>
    <ul>
        @foreach (var lesson in Model.Lessons)
        {
            <li>@lesson.Title</li>
        }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
